@using CodeStudy_3._1.Model;
@* 强类型视图引入空间 *@
@* @model CodeStudy_3._1.Model.Student *@
@*ViewModel传值*@
@* @model CodeStudy_3._1.ViewModel.HomeDetailsViewModel *@
@model HomeDetailsViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生详情页";
    @*单文件上传*@
    var photoPath = "~/images/" + (Model.student.PhotoPath ?? "image1.png");
    @*多文件上传 *@
    @*var photoPath = "~/images/image1.png";
    if (Model.student.PhotoPath!=null)
    {
        photoPath = "~/images/" + Model.student.PhotoPath;
    }*@
}

<h3>@Model.PageTiles</h3>
<div class="row justify-content-center m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>@Model.student.Name</h1>
            </div>
            <div class="card-img-top text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true">
                <h4>学生ID:@Model.student.Id</h4>
                <h4>班级：@Model.student.Calssroom</h4>
                <h4>专业：@Model.student.Major</h4>
                <h4>邮箱：@Model.student.Email</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="bth btn-primary">返回</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-Id="@Model.student.Id" class="bth btn-primary">编辑</a>
                <a asp-controller="Home" asp-action="Delte" asp-route-Id="@Model.student.Id" class="bth btn-danger">删除</a>
            </div>
        </div>
    </div>
</div>

@* <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detailsview</title>
</head>
<body> *@

    @*ViewModel传值*@
@*     <h3>@Model.PageTiles</h3>
    <div>姓名：@Model.student.Name</div>
    <div>班级：@Model.student.Calssroom</div>
    <div>专业：@Model.student.Major</div>
    <div>邮箱：@Model.student.Email</div> *@

@*使用@section 后面跟上自定义的名称，就可以使用使用布局页的部分使用的代码*@
    @section Scripts{
    <script src="~/js/customscript.js"></script>
    }

    @*强类型视图传值*@
    @* <h3>@ViewBag.PageTitle</h3>
    <div>姓名：@Model.Name</div>
    <div>班级：@Model.Calssroom</div>
    <div>专业：@Model.Major</div>
    <div>邮箱：@Model.Email</div>  *@

    @*ViewBag传值*@
    @* <h3>@ViewBag.PageTitle</h3>
    <div>姓名：@ViewBag.student.Name</div>
    <div>班级：@ViewBag.student.Calssroom</div>
    <div>专业：@ViewBag.student.Major</div>
    <div>邮箱：@ViewBag.student.Email</div>  *@

    @*ViewData传值*@
    @* <h3>@ViewData["PageTile"]</h3>
    @{
    var student = ViewData["Student"] as Student;
    }
    <div>姓名：@student.Name</div>
    <div>班级：@student.Calssroom</div>
    <div>专业：@student.Major</div>
    <div>邮箱：@student.Email</div> *@

@* </body>
</html>
 *@
