@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    //如果我们不希望在不使用布局视图的情况下渲染视图，只需要将Layout设置为null，即Layout=null；
    ViewBag.Title = "学生列表页";
}

<div class="card-deck">
    @foreach(var student in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3 class="card-title">@student.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/image1.png" asp-append-version="true">
            <div class="card-body text-center">
                <h5>专业:@student.Major</h5>
            </div>

            <div class="card-footer text-center">
                @*手动生成链接*@
                @*  <a href="/Home/Detailsview/@student.Id" class="bth btn-primary">查看</a> *@
                @*使用HTML TagHelper*@
                @* @Html.ActionLink("查看","Detailsview",new{id=student.Id}) *@
                @*使用TagHelper  TagHelper根据应用程序的路由模板生成的链接，所以会根据路由模板所做的更改自动修改和适配
                asp-controller指定控制器名称； 
                asp-action指定要包含在生成的href属性值的操作方法的名称；
                asp-route-{value}属性用于在生成的href中包含路由数据属性值*@
                <a asp-controller="Home" asp-action="Detailsview" asp-route-Id="@student.Id" class="bth btn-primary m-1">查看</a>
                <a href="#" class="bth btn-primary m-1">编辑</a>
                <a href="#" class="bth btn-danger m-1">删除</a>
            </div>
        </div>
    }
</div>

@* <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生页面详情</title>
</head>
<body> *@
    @* <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>班级</th>
                <th>专业</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Calssroom</td>
                    <td>@student.Major</td>
                    <td>@student.Email</td>
                </tr>
            }
        </tbody>
    </table> *@
@* </body>
</html> *@
