@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生列表页";
}

@* <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生页面详情</title>
</head>
<body> *@
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>班级</th>
                <th>专业</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Calssroom</td>
                    <td>@student.Major</td>
                    <td>@student.Email</td>
                </tr>
            }
        </tbody>
    </table>
@* </body>
</html> *@
